<div class="block">
    <h1>Welcome to my digital notebook!</h1>
    These are my notes &mdash; a neatly <strike>un-</strike>organized collection of my thoughts and ideas.<br/>
    Here you can find everything from new-norwegian literature notes to opinionated best practices for writing bash scripts and managing a docker environment.<br/>
    If you can't find what you're looking for &mdash; fret not, it most likely just doesn't exist, but perhaps it would help to filter by <a href="../tags" style="color:var(--link);">tags</a>?
</div>