<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="../index.html">
        <!-- <svg width="32" height="32" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M36.9477 13.7742C38.3043 11.4086 41.6957 11.4086 43.0523 13.7742L70.5226 61.6774C71.8791 64.043 70.1834 67 67.4703 67H12.5297C9.81658 67 8.12089 64.043 9.47744 61.6774L36.9477 13.7742ZM40 16.9677L13.7506 62.7419H66.2494L40 16.9677Z" fill="var(--text-main)"/>
        </svg> -->
        <h4>{{ site.heading }}</h4>
      </a>
      <div class="navbar-item navbar-dark-mode__mobile is-hidden-tablet" onclick="modeSwitcher()">
        <div class="buttons">
          <a class="button is-text">
            <span class="icon is-small">
              <img src="../assets/img/sun.svg" id="theme-toggle-img--mobile">
            </span>
          </a>
        </div>
      </div>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a href="/about" class="navbar-item">
          About
        </a>
        <a href="/notes" class="navbar-item">
          Notes
        </a>
        <!--<a href="/posts" class="navbar-item">
          Posts
        </a>-->
        <a href="/tags" class="navbar-item">
          Tags
        </a>
        <a href="/feed.xml" class="navbar-item">
          RSS
        </a>
        <!-- <a href="https://github.com/runarsf" target="_blank" class="navbar-item">
          My GitHub
        </a> -->
      </div>
      <div class="navbar-end is-hidden-mobile" onclick="modeSwitcher()" >
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-text">
              <span class="icon is-small">
                <img src="../assets/img/sun.svg" id="theme-toggle-img">
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <script src="/assets/js/Hamburger.js"></script>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
       tex2jax: {
           inlineMath: [ ['$','$'], ['\\(', '\\)'] ],
           displayMath: [ ['$$','$$'], ['\\[', '\\]'] ],
           processEscapes: true
               }
           });
  </script>
  <!-- ??? Should this be used with katex -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

