<div class="column is-4">
    <div class="block homeblock">
    <h1>Welcome to my digital notebook!</h1>
    This page is a collection of my publically available notes written in <a href="https://obsidian.md" style="color:var(--link);">Obsidian</a>.</br>
    More information can be found in the <a href="../about" style="color:var(--link);">About</a> section of the page</br>.
    You can find an overview over my available notes <a href="../notes" style="color:var(--link);">here</a>, or perhaps browse by <a href="../tags" style="color:var(--link);">tags</a>.
    </div>
</div>
