<div class="column is-4">
    <div class="block homeblock">
        <h1>Welcome to my digital notebook!</h1>
        This page contains a collection of my publically available notes written in <a href="https://obsidian.md" style="color:#6e57d6;">Obsidian</a>.</br>
        More information can be found on the <a href="../about" style="color:var(--link);">about</a> section of the page.</br>
        You can traverse my available notes <a href="../notes" style="color:var(--link);">here</a>, or perhaps browse by <a href="../tags" style="color:var(--link);">tags</a>.
    </div>
    {%- include Feed.html -%}
</div>
